.aobut {
  font-weight: bold;
  color: #111;
}

main {
  padding-top: 148px;
  color: #222;
  font-weight: 600;
  line-height: 1.4;
}

.top_title {
  font-size: 36px;
  font-weight: bold;
  margin-left: 212px;
  padding-bottom: 100px;
}

section {
  width: 808px;
}

section h1 {
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 28px;
}

/* section 1 */
.section_01 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 127px;
}
.section_01 p {
  margin-top: 52px;
  font-weight: 500;
}

.section_01 picture {
  margin-right: auto;
}
.section_01 picture img{
  width: 55%;
  object-fit: cover;
}

/* section 2 */
.section_02 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 127px;
  font-weight: 500;
}

.section_02 .edu {
  display: flex;
  padding-top: 14px;
}
.section_02 .edu h3 {
  margin-right: auto;
}

/* section 3 */
.section_03 {
  margin: 0 auto;
  padding-bottom: 127px;
  font-weight: 500;
}

.section_03 p {
  display: flex;
  padding-top: 14px;
}

/* section 4 */
.section_04 {
  margin: 0 auto;
  padding-bottom: 150px;
}

.section_04 ul {
  display: flex;
  gap: 10px;
}

/* background */
.background_01 {
  position: absolute;
  top: 1700px;
  left: 151px;
}
.background_02 {
  position: absolute;
  top: 680px;
  right: 20px;
}
