.works {
  font-weight: bold;
  color: #111;
}
.main {
  margin-top: 90px;
  background-color: #09a84d;
}

.main_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  color: #fff;
  padding: 47px 0;
}
.main_wrap .text {
  padding-left: 60px;
}
.main_wrap h1 {
  font-size: 42px;
  padding-bottom: 40px;
}
.main_wrap span {
  display: flex;
  font-size: 18px;
  padding-bottom: 20px;
}
.main_wrap span h3 {
  width: 145px;
}
.main_wrap span h4 {
  width: 54px;
}
.main_wrap span p {
  width: 352px;
  line-height: 1.3;
}
.main_wrap .btn {
  display: flex;
  gap: 12px;
  padding-top: 20px;
}
.main_wrap .btn a {
  padding: 10px 28px;
  background-color: #07833c;
  border-radius: 25px;
  font-size: 20px;
}
.main_wrap .btn a:hover {
  background-color: #0dd763;
}
.main_wrap .swiper-wrapper {
  width: 420px;
}
.main_wrap img {
  width: 100%;
  height: auto;
}
.main-slide {
  display: flex;
}

section {
  width: 1400px;
}

/* section */
.section_01 {
  margin: 0 auto;
  padding: 60px 0 130px;
}
.section_01 h2 {
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}
.section_01 p {
  width: 830px;
  line-height: 1.4;
  margin: 0 auto;
}

/* section 2 */
.section_02 {
  margin: 0 auto;
  padding: 60px 0 130px;
}
.section_02 h2 {
  text-align: center;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 24px;
}
.section_02 ul {
  width: 830px;
  margin: 0 auto;
  display: flex;
  gap: 109px;
}
/* section 3 */
.section_03 {
  margin: 0 auto;
  padding: 60px 0 130px;
}
.section_03 h2 {
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}
.section_03 p {
  width: 830px;
  line-height: 1.4;
  margin: 0 auto;
}
/* section 4 */
.section_04 {
  margin: 0 auto;
  padding: 60px 0 130px;
}
.section_04 h2 {
  text-align: center;
  padding-bottom: 80px;
  font-weight: bold;
  font-size: 24px;
}
.section_04 h3 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 19px;
  padding-top: 30px;
}
.section_04 p {
  line-height: 1.4;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 120px;
}
.section_04 figure {
  margin: 0 auto;
  margin-bottom: 50px;
}
.section_04 figure img {
  max-width: 100%;
  height: auto;
}
/* section 5 */
.section_05 {
  margin: 0 auto;
  padding: 60px 0 130px;
}
.section_05 h2 {
  text-align: center;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 24px;
}
.section_05 picture {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
